.App {
  text-align: center;
}

.rounded-button{
  padding: 8px 20px;
  background-color: #F91944;
  border-radius: 20px;
  color: white;
}

.bannar-image{
  background-image: url('./Images/bannerbackground.png');
  background-size: cover;
  height: 450px;
  background-color: #FCF4E0;
    
}

.rounded-input{
  border-radius: 20px !important;
}